.App {
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
}
h3 .fa-brands fa-medium {
  background-color: bisque;
}

body {
  background: #96eb95;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a468e3, #69bef6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a468e3, #69bef6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form {
  background-color: white;
  border-radius: 50px;
  width: 450px;
  margin: 20px auto;
  padding: 15px;
  /* height: 600px; */
}

.form-body {
  text-align: left;
  padding: 20px 10px;
}

.form-body > * {
  padding: 5px;
}

.form__label {
  width: 40%;
}

.form_input {
  width: 60%;
}

.user-trivia {
  height: 100px !important;
  width: 200px !important;
}

.footer {
  text-align: center;
}

.navbar {
  list-style: none;
  /* background-color: #a295eb; */
  background: linear-gradient(to right, #69bef6, #a295eb);  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #69bef6, #a295eb);  /* Chrome 10-25, Safari 5.1-6 */

}

li {
  display: inline-block;
}

.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  left: 40px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: darkcyan;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
}

.menuNav.showMenu {
  width: 100%;
}

a {
  display: block;
  padding: 10px 40px;
  text-decoration: none;
  color: #3fffd2;
  text-transform: uppercase;
  font-weight: bold;
}

.menuNav li:first-child {
  margin-top: 7rem;
}
